Repository AlexWayfer/example_file: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
      image: ruby:3.0
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[de650f17db291399a09839a898ab3be8d0bb09a14b369f16f31a1831d6db8d826d4601ea7ad87eab99d005ad832846cc]
  test_script: bundle exec rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  example_file.gemspec
Due: remark, rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Update `highline` and `gem_toys` to new breaking versions
  Gemfile
  example_file.gemspec
Due: rubocop, rspec

Update version to 0.5.0
  CHANGELOG.md
  lib/example_file/version.rb
Due: remark, rubocop, rspec

Resolve `gem build` warning about `homepage_uri` and `source_code_uri`
  example_file.gemspec
Due: rubocop, rspec

Configure Renovate
  renovate.json
Due: none

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  example_file.gemspec
Due: rubocop, rspec

Resolve new RuboCop RSpec offenses
  spec/example_file_spec.rb
  spec/fixtures/file_without_regular/behaves_like_editing_a_regular_file_in_an_editor/when_$EDITOR_variable_exists.example.conf
  spec/fixtures/file_without_regular/behaves_like_editing_a_regular_file_in_an_editor/when_$EDITOR_variable_exists/regular_file_content_before_edit.example.conf
  spec/fixtures/file_without_regular/behaves_like_editing_a_regular_file_in_an_editor/when_$EDITOR_variable_not_set.example.conf
Due: rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  example_file.gemspec
Due: remark, rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: rubocop, rspec

Add Ruby 4.0 support
  example_file.gemspec
Due: rubocop, rspec

Fail `remark` on any warning
  package.json
Due: remark

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Add Ruby 4.0 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: rubocop, rspec

Disable RuboCop's `RSpec/LeakyLocalVariable` locally
  spec/example_file_spec.rb
Due: rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/example_file/version.rb
Due: remark, rubocop, rspec
