Repository AlexWayfer/example_file: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:3.0
  environment:
  ...

Remake the question about outdated regular file
  lib/example_file.rb
  spec/example_file_spec.rb
Due: rubocop, rspec

Fix `.gitignore` for built gems
  .gitignore
Due: remark, rubocop, rspec

Change RSpec format from default (dots) to document
  .rspec
Due: rspec

Avoid Ruby 4 in gem specs
  example_file.gemspec
Due: rubocop, rspec

Print everything not catched by stubs in specs
  spec/example_file_spec.rb
Due: rubocop, rspec

Add changes to `master` CHANGELOG
  CHANGELOG.md
Due: remark

Add `replace-and-edit` answer
  CHANGELOG.md
  README.md
  lib/example_file.rb
  spec/example_file_spec.rb
  spec/fixtures/file_without_regular/when_$EDITOR_variable_exists/regular_file_content_before_edit.example.conf
Due: remark, rubocop, rspec

Add `choices` and `question_prefix` options for external mutations
  lib/example_file.rb
Due: rubocop, rspec

Update version to 0.3.0
  CHANGELOG.md
  lib/example_file/version.rb
Due: remark, rubocop, rspec

Update `gem_toys` to a new version
  example_file.gemspec
Due: rubocop, rspec

Fix Ruby warnings (and specs fails)
  lib/example_file.rb
Due: rubocop, rspec

Improve `.gitignore` file, add `.ruby-version`
  .gitignore
Due: remark, rubocop, rspec

Update version to 0.3.1
  CHANGELOG.md
  lib/example_file/version.rb
Due: remark, rubocop, rspec

Remove `Rakefile` from Cirrus CI configuration
  .cirrus.yaml
Due: remark, rubocop, rspec

Replace Codecov Ruby uploader with the new one
  .cirrus.yaml
  example_file.gemspec
  spec/spec_helper.rb
Due: remark, rubocop, rspec

Lock RuboCop version better
  example_file.gemspec
Due: rubocop, rspec

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  example_file.gemspec
Due: remark, rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  example_file.gemspec
Due: remark, rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
  example_file.gemspec
Due: remark, rubocop, rspec

Enable `rubygems_mfa_required`
  example_file.gemspec
Due: rubocop, rspec

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Resolve new RuboCop offense
  spec/example_file_spec.rb
Due: rubocop, rspec

Add `#initialize_regular_file` method
  lib/example_file.rb
  spec/example_file_spec.rb
  spec/fixtures/file_with_actual_regular.conf
  spec/fixtures/file_with_actual_regular.example.conf
  spec/fixtures/file_without_regular.example.conf
Due: rubocop, rspec

Update version to 0.4.0
  CHANGELOG.md
  lib/example_file/version.rb
Due: remark, rubocop, rspec

Remove `depends_on` for Cirrus CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Update License badge
  README.md
Due: remark

Update gemspec metadata
  example_file.gemspec
Due: rubocop, rspec

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  example_file.gemspec
Due: remark, rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  example_file.gemspec
Due: rubocop, rspec

Resolve new RuboCop RSpec offenses
  spec/example_file_spec.rb
Due: rubocop, rspec

Lock `rubocop-rspec` version stricter
  Gemfile
Due: rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
